@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Bebas+Neue&family=Cookie&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lobster&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Declaration variable */
:root {
    --sombre: black;
    --clair: white;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    background-color: var(--sombre);
    color: var(--clair);
    justify-content: center;
    gap: 35px;
    padding: 25px 0;
    width: 100%;
}

footer .nav_brand {
    font-size: 3em;
    text-align: center;
}

footer #footer_ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3em;
    gap: 15px;
    list-style: none;

}

footer #footer_ul li a {
    text-decoration: none;
    color: white;
}

/* fin */

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", serif;
    font-weight: normal;
    font-style: normal;
}

/* Fin reset */

body.moon {
    background-color: var(--sombre);
}

body.moon nav {
    background-color: var(--clair);
    color: var(--sombre);
}

body.moon nav .color button.active {
    background-color: var(--sombre);
    color: var(--clair);
}

body.moon footer {
    background-color: var(--clair);
    color: var(--sombre);
}

body.moon footer #footer_ul li a {
    color: var(--sombre);
}

body.moon #blog {
    color: var(--clair);
}

body.moon nav #nav_ul {
    background-color: var(--sombre);
}

body.moon #detail {
    color: white;
}

body.moon nav #nav_ul .top,
body.moon nav #nav_ul li a {
    color: var(--clair);
}

body.moon nav #nav_ul li {
    padding: 10px 39px;
}

/* navbar */

.nav_brand {
    font-family: "Amatic SC", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2em;
}

/* ------Mode sombre et clair----------- */
nav .color {
    display: flex;
    align-items: center;
    border-radius: 9px;
}

nav .color button i {
    padding: 9px 20px;
    cursor: pointer;

}

nav .color button {
    border-radius: 8px;
    border: none;
    transition: all 1000ms ease;
}

nav .color .sun.active,
nav .color .moon.active {
    font-weight: bold;
    font-size: 1.3em;
}

nav .color .moon.no {
    background-color: var(--sombre);
    color: var(--clair);
}

nav .color .sun.no {
    background-color: var(--clair);
    color: var(--sombre);
}

body.moon nav ul li a {
    color: var(--sombre);
}

body.moon .ajout form fieldset {
    color: var(--clair);
}

/* -----------Fin mode------------ */

/* ------------Burger menu------------ */
nav .toggle {
    cursor: pointer;
    display: none;
    position: relative;
}

.top {
    display: none;
}

/* ------------fin Burger------------ */
nav {
    background-color: var(--sombre);
}

nav,
nav ul {
    display: flex;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 9px 0;
    width: 100%;
}

nav ul {
    gap: 25px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* ___fin navbar__ */


/* formulaire d'ajout */

.ajout form fieldset {
    display: flex;
    flex-direction: column;
    color: black;
    padding: 45px;
    gap: 25px;
    border-radius: 15px;
}

form {
    padding: 15px 25px;
}

.ajout form fieldset .lab {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.ajout form fieldset .lab label {
    font-size: 1.3em;
}

.ajout form fieldset legend {
    text-align: center;
    font-weight: bold;
    font-size: 1.7em;
    padding: 0 11px;
}

input[type=text] {
    height: 5vh;
    padding: 9px;
    font-size: 1.3em;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}

textarea {
    padding: 15px;
    font-size: 1.3em;
    border-radius: 15px;
    border: 1px solid black;
    outline: none;
}

input[type=submit] {
    font-size: 1.3em;
    width: 30%;
    margin: 0 auto;
    padding: 9px 0;
    border-radius: 15px;
    border: none;
}

/* __fin formulaire__ */

/* contenu du blog */
#blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

/* ------------details blog----------------- */
#detail {
    padding: 100px 20px;
}

#blog .div_content {
    display: flex;
    padding: 35px;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.form_img {
    padding: 25px;
    height: 10%;
    border-radius: 10px;
    background-color: greenyellow;
}

.div_content_v {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
    gap: 9px;
}

/* --------------Button modif et suppr--------------- */
.content_btn {
    display: flex;
    gap: 25px;

}

.link {
    color: rgb(64, 64, 253);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modif {
    background-color: #18aa18;
    color: white;
    position: relative;
}

.suppr {
    background-color: rgb(250, 24, 24);
    color: white;
}

#modif {
    /* width: 95%; */
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    top: 100px;
    left: 0;
    right: 0;
    display: none;
}

#modif.active {
    display: flex;
}

/* __--modif__formulaire--__ */
.erreur {
    border: 3px solid red;
}
/* fin */

.modif,
.suppr {
    font-size: 1em;
    margin: 0 auto;
    padding: 9px 15px;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: box-shadow 200ms ease;
}

.modif:hover {
    box-shadow: 0 .1rem 0.5rem #18aa18;
}

.suppr:hover {
    box-shadow: 0 .1rem 0.5rem rgb(250, 24, 24);
}

/* -------------fin--------------- */

/* Fin */

/* Supprime */
#blog .div_content.supprimer {
    display: none;
}

/* fin sup */

.form {
    display: block;
}

/* Responsive */
/* ---------Responsive cote Tablette------------ */

@media screen and (max-width: 768px) {

    /* formulaire d'ajout */
    form {
        padding: 19px;
    }

    input[type=submit] {
        width: 50%;
    }

    /* fin form */

    /* contenue blog responsive */

    #blog {
        display: grid;
        gap: 15px;
    }

    #blog .div_content {
        flex-direction: column;
    }

    .form_img {
        padding: 25px;
        height: 10px;
        border-radius: 10px;
        background-color: greenyellow;
    }

    /* fin responsive contenu */

    /* menuBar responsive */

    nav .toggle {
        display: block;
        font-size: 2em;
    }

    #nav_ul {
        position: absolute;
        background-color: var(--clair);
        top: -100%;
        z-index: 10000;
        left: 0;
        right: 0;
        align-items: center;
        justify-content: center;
        font-size: 1.3em;
        flex-direction: column;
        padding: 25px 0;
        width: 100%;
        transition: top 200ms ease;
    }


    #nav_ul.active {
        top: 0;
    }

    #nav_ul li a {
        color: var(--sombre);
    }

    .top {
        display: flex;
        align-items: center;
        gap: 300px;
        font-size: 1.3em;
        float: left;
        color: var(--sombre);
        cursor: pointer;
    }

    /* fin */

    /* footer */
    footer #footer_ul {
        flex-direction: column;
    }

}

/* ---------Responsive cote mobile------------ */

@media screen and (max-width: 568px) {

    /* contenu blog respon mobile */
    #blog {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    /* fin */

    /* menubar respon mobile */
    .top {
        gap: 30px;
        font-size: 1em;
    }

    /* fin */

    form {
        padding: 19px;
    }

    input[type=submit] {
        width: 100%;
    }

    input[type=text] {
        width: 90%;
    }

    textarea {
        width: 90%;
    }
}

/* @media screen and (max-width: 1024px) {
    body.moon nav #nav_ul {
        background-color: var(--clair);
    }
    body.moon nav #nav_ul li a {
        color: var(--sombre);
    }
} */